<!DOCTYPE html>
<html>
<head>
  <title>ION: <%=t('Access denied')%></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <base id="baseUrl" href="<%=baseUrl%>">
  <link rel="shortcut icon" href="/favicon.ico">
  <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/base.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="padding-15">
  <div class="login-box">
    <div class="sky-form boxed bg-white">
      <header>
        <i class="fa fa-lock"></i>
        &nbsp;<%=t('Access denied')%>
      </header>
      <fieldset>
        <section>
          <%=t('Sorry, but access to this resource is prohibited')%>
        </section>
      </fieldset>
      <footer class="">
        <a href="/" class="btn btn-primary ml0">
          <%=t('Back to home')%>
        </a>
      </footer>
    </div>
  </div>
</div>
</body>
</html>
