<!DOCTYPE html>
<html>
<head>
  <title><%= pageTitle %>: <%=__('templates.default.changePwd.title')%></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <base id="baseUrl" href="<%=baseUrl%>">
  <!--[if IE]>
    <script type="text/javascript">
      // Fix for IE ignoring relative base tags.
      (function() {
          var baseTag = document.getElementsByTagName('base')[0];
          baseTag.href = baseTag.href;
      })();
    </script>
  <![endif]-->
  <link rel="shortcut icon" href="/favicon.ico">
  <link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/base.css" rel="stylesheet" type="text/css">
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
</head>
<style>
  .pwd-error {
    position: absolute;
    background-color: red;
    color: white;
    width: 100%;
    padding: 10px;
    z-index: 1000;
  }
</style>
<body>
<div class="padding-15">
  <div class="login-box">
    <% if(errors.length) { %>
    <div id="error" class="alert alert-danger">
      <% errors.forEach(function(error){ %>
      <p><%= error %></p>
      <% }); %>
    </div>
    <% } %>
    <div id="errors" class="alert alert-danger" style="display: none"></div>

    <form action="chpwd" method="post" id="reg-form" class="sky-form boxed">
      <header><i class="fa fa-users"></i> <%=__('templates.default.changePwd.title')%></header>
      <fieldset>
        <section>
          <label class="label"><%=__('templates.default.changePwd.newPwd')%></label>
          <label class="input">
            <i class="icon-append fa fa-lock"></i>
            <input id="password" type="password" name="password">
            <div class="pwd-error" style="display: none;"></div>
            <b class="tooltip tooltip-top-right"><%=__('templates.default.changePwd.newPwd')%></b>
          </label>
        </section>

        <section>
          <label class="label"><%=__('templates.default.repeatPwd')%></label>
          <label class="input">
            <i class="icon-append fa fa-lock"></i>
            <input id="password2" type="password" name="password2">
            <div class="pwd-error" style="display: none;"></div>
            <b class="tooltip tooltip-top-right"><%=__('templates.default.repeatPwd')%></b>
          </label>
        </section>
      </fieldset>

      <footer>
        <button id="submit-btn" type="button" class="btn btn-primary pull-left" style="margin-left:0;">
          <%=__('templates.default.changePwd.changePwd')%>
        </button>
        <div class="forgot-password pull-right">
          <a class="btn btn-link" href="/"><span class="glyphicon glyphicon-home"></span> <b><%=__('templates.default.home')%></b></a>
        </div>
      </footer>
    </form>

  </div>
</div>
<script>
  var allowSubmit = true;
  jQuery(function(){
    var options = <%- JSON.stringify(options)%>;
    var $errors = $('#errors');
    var $submit = $('#submit-btn');
    var $regForm = $('#reg-form');
    var $pwd = $regForm.find('[name="password"]');
    var $pwd2 = $regForm.find('[name="password2"]');
    $submit.click(function(){
      $errors.hide();
      if (!allowSubmit) {
        return false;
      }
      var pwd = $pwd.val();
      var pwd2 = $pwd2.val();
      var valid = true;
      var messages = [];
      if (pwd && pwd2 && pwd === pwd2) {
        if (options.pwdMinLength) {
          if (pwd.length < options.pwdMinLength) {
            valid = false;
            messages.push('Minimal password length is ' + options.pwdMinLength + ' symbols');
          }
        }
      } else {
        valid = false;
        messages.push('Invalid password repeat');
      }
      if (valid) {
        $regForm.submit();
      } else if (messages.length) {
        for (var i = 0; i < messages.length; i++) {
          $('<div/>').html(messages[i]).appendTo($errors);
        }
        $errors.show();
      }
    });

    function checkPwd(fld, data) {
      $.post('checkPwd', data)
        .then(function (data) {
          if (data.error) {
            let offset = fld.offset();
            fld.next().css({left: offset.x, top: offset.y + fld.height()}).html(data.error).show();
          } else {
            fld.next().hide();
          }
          fld.toggleClass('error', !data.result);
          allowSubmit = data.result;
        })
        .fail(function (xhr) {
          fld.toggleClass('error', true);
          allowSubmit = false;
        });
    }

    $('#password').change(function () {
      let fld = $(this);
      let pwd = fld.val();
      checkPwd(fld, {password: pwd, password2: pwd});
    });
    $('#password2').change(function () {
      let fld = $(this);
      let pwd2 = fld.val();
      let pwd = $('#password').val();
      checkPwd(fld, {password: pwd, password2: pwd2});
    });
  });
</script>
<%- typeof pageEndContent !== 'undefined' ? pageEndContent : "" %>
</body>
</html>
