<!DOCTYPE html>
<html>
<head>
  <title><%= pageTitle %>: <%=__('templates.default.login.title')%></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <base id="baseUrl" href="<%=baseUrl%>">
    <!--[if IE]>
      <script type="text/javascript">
        // Fix for IE ignoring relative base tags.
        (function() {
            var baseTag = document.getElementsByTagName('base')[0];
            baseTag.href = baseTag.href;
        })();
      </script>
    <![endif]-->
  <link rel="shortcut icon" href="/favicon.ico">
  <link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/base.css" rel="stylesheet" type="text/css">
</head>

<body>
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/moment/moment.min.js"></script>
<script src="node_modules/moment-timezone/builds/moment-timezone-with-data.min.js"></script>

<div class="padding-15">
  <div class="login-box">
    <% if(errors.length) { %>
    <div id="error" class="alert alert-danger">
      <% errors.forEach(function(error){ %>
      <p><%= error %></p>
      <% }); %>
    </div>
    <% } %>
    <!-- login form -->
    <form action="auth" method="post" class="sky-form boxed">
      <header><i class="fa fa-users"></i> <%=__('templates.default.login.title')%></header>
      <input type="hidden" name="timezone" value="" />
      <fieldset>
        <section>
          <label class="label"><%=__('templates.default.login')%></label>
          <label class="input">
            <i class="icon-append fa fa-user"></i>
            <input id="username" type="login" name="username">
            <span class="tooltip tooltip-top-right"><%=__('templates.default.login')%></span>
          </label>
        </section>

        <section>
          <label class="label"><%=__('templates.default.password')%></label>
          <label class="input">
            <i class="icon-append fa fa-lock"></i>
            <input id="password" type="password" name="password">
            <b class="tooltip tooltip-top-right"><%=__('templates.default.password')%></b>
          </label>
        </section>
      </fieldset>

      <footer>
        <button id="authbutton" type="submit" class="btn btn-primary pull-left" style="margin-left:0;">
          <%=__('templates.default.login.signin')%>
        </button>
        <div class="forgot-password pull-right">
          <% if (canRegister) { %>
          <a class="btn btn-link" href="register"><b><%=__('templates.default.login.register')%></b></a>
          <% } %>
          <% if (goHome) { %>
          &nbsp;&nbsp;
          <a class="btn btn-link" href="<%- goHome %>"><span class="glyphicon glyphicon-home"></span> <b><%=__('templates.default.home')%></b></a>
          <% } %>
        </div>
      </footer>
    </form>

  </div>
</div>
<script>
  $(function () {
    $('input[name=timezone]').val(moment.tz.guess());
  });
</script>
<%- typeof pageEndContent !== 'undefined' ? pageEndContent : "" %>
</body>
</html>
