<!DOCTYPE html>
<html>
<head>
  <title>Платформа ION: Профиль пользователя</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0"/>
  <meta name="robots" content="noindex,nofollow">
  <base id="baseUrl" href="<%=baseUrl%>">
  <!--[if IE]>
    <script type="text/javascript">
      // Fix for IE ignoring relative base tags.
      (function() {
          var baseTag = document.getElementsByTagName('base')[0];
          baseTag.href = baseTag.href;
      })();
    </script>
  <![endif]-->
  <link rel="shortcut icon" href="/favicon.ico">
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/base.css" rel="stylesheet" type="text/css">
  <script src="vendor/jquery/jquery.min.js"></script>
</head>

<body>

<div class="padding-15">
  <div class="login-box">
    <% if(errors.length) { %>
    <div id="error" class="alert alert-danger">
      <% errors.forEach(function(error){ %>
      <p><%= error %></p>
      <% }); %>
    </div>
    <% } %>
    <form id="reg-form" action="profile" method="post" class="sky-form boxed">
      <header><i class="fa fa-users"></i> Профиль пользователя <%=user.name()%></header>
      <fieldset>
        <%  let showSubmit = false;
        Object.keys(fields).forEach(function(fieldName){ 
          if (!fields[fieldName].readonly) {
            showSubmit = true;
          } %>
        <section>
          <label class="label">
            <%= fields[fieldName].caption ? fields[fieldName].caption : fieldName %>
            <%= fields[fieldName].required ? '*' : '' %>
          </label>
          <label class="input">
            <%
            let val = user.properties()[fieldName];
            if (Array.isArray(fields[fieldName])) {
            %>
            <select name="<%= fieldName %>">
              <% for (let option of fields[fieldName]){ %>
              <option value="<%= option.value %>" <%=option.value === val ? 'selected="true"' : ''%>><%= option.key %></option>
              <% } %>
            </select>
            <% } else if (fields[fieldName]){ %>
            <input type="text" name="<%= fieldName %>" class="input" <% if (fields[fieldName].required) { %>required<% } %> value="<%=val%>"/>
            <% } %>
          </label>
        </section>
        <% }) %>
      </fieldset>
      <footer>
        <% if (showSubmit) { %><button id="authbutton" type="submit" class="btn btn-primary pull-right">Сохранить</button><% } %>
        <div class="forgot-password pull-left">
          <a href="<%=baseUrl%>"><b>Вернуться в приложение</b></a>
        </div>
      </footer>
    </form>
  </div>
</div>
<%- typeof pageEndContent !== 'undefined' ? pageEndContent : "" %>
</body>
<script>
  jQuery(function(){
    var options = <%- JSON.stringify(options || {})%>;
    var fields = <%- JSON.stringify(fields || {})%>;
    var $msgContainer = $('div#error');
    var $submit = $('button#authbutton');
    var $regForm = $('form#reg-form');
    $submit.click(function(){
      $msgContainer.empty();
      var valid = true;
      var messages = [];
      var field;
      for (fieldName in fields) {
        if (fields.hasOwnProperty(fieldName)) {
          if (fields[fieldName] && fields[fieldName].required) {
            field = $regForm.find('[name='+fieldName+']');
            if (!field.val()) {
              valid = false;
              messages.push('Поле ' + (fields[fieldName].caption ? fields[fieldName].caption : fieldName )
                + ' обязательно для заполнения');
            }
          }
        }
      }
      if (valid) {
        $regForm.submit();
        $msgContainer.empty();
      } else if (messages.length) {
        for (var i = 0; i < messages.length; i++) {
          $('<p/>').html(messages[i]).appendTo($msgContainer);
        }
      }
    });
  });
</script>
</html>