<!DOCTYPE html>
<html>
<head><title>Платформа ION: Вход</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/auth.css">
  <meta name="robots" content="noindex,nofollow">
  <script src="/vendor/jquery/jquery.min.js" type="application/javascript"></script>
</head>
<body>
<div class="demo">
  <h1>Вход</h1>

  <div class="auth-form">
    <div class="msg-container">
      <%
        if (errors.length) {
          errors.forEach(function (error) {
      %>
        <div id="error" class="error-msg"><%= error %></div>
      <%
          });
        }
      %>
    </div>

    <form id="reg-form" action="/register" method="post">
      <div><input type="text" name="username" placeholder="логин" class="input user" required></div>
      <div><input type="password" name="password" placeholder="пароль" class="input password" required></div>
      <div><input type="password" name="password2" placeholder="повторите пароль" class="input password" required></div>

      <% Object.keys(fields).forEach(function(fieldName){ %>
        <% if (Array.isArray(fields[fieldName])) { %>
        <div>
          <select name="<%= fieldName %>">
            <% for (let option of fields[fieldName]){ %>
              <option value="<%= option.value %>"><%= option.key %></option>
            <% } %>
          </select>
        </div>
        <% } else if (fields[fieldName]){ %>
        <div>
          <input type="text" name="<%= fieldName %>" class="input"
                 placeholder="<%= fields[fieldName].required ? '*' : '' %><%= fields[fieldName].caption ? fields[fieldName].caption : fieldName %>"
              <% if (fields[fieldName].required) { %>required<% } %> >
        </div>
        <% } %>
      <% }) %>

      <div class="buttons">
        <button id="submit-btn" type="button">Регистрация</button>
      </div>
      <div class="forgot-password pull-left">
        <a href="/auth"><b>Войти</b></a>
      </div>
    </form>
  </div>
</div>
</body>
<script>
  jQuery(function(){

    function parseJSON(json) {
      var result;
      try {
        result = JSON.parse(json);
      } catch (err) {
        result = {};
      }
      return result;
    }

    var options = parseJSON('<%- JSON.stringify(options)%>');
    var fields = parseJSON('<%- JSON.stringify(fields)%>');
    var $msgContainer = $('div.msg-container');
    var $submit = $('button#submit-btn');
    var $regForm = $('form#reg-form');
    var $username = $regForm.find('input[name="username"]');
    var $pwd = $regForm.find('input[name="password"]');
    var $pwd2 = $regForm.find('input[name="password2"]');
    $submit.click(function(){
      $msgContainer.empty();
      var username = $username.val();
      var pwd = $pwd.val();
      var pwd2 = $pwd2.val();
      var valid = true;
      var messages = [];
      var field;
      if (!username) {
        messages.push('Поле логин обязательно для заполнения');
      }
      if (pwd && pwd2 && pwd === pwd2) {
        if (options.pwdMinLength) {
           if (pwd.length < options.pwdMinLength) {
             valid = false;
             messages.push('Минимальная длинна пароля ' + options.pwdMinLength);
           }
        }
      } else {
        valid = false;
        messages.push('Пароли должны совпадать');
      }
      for (fieldName in fields) {
        if (fields.hasOwnProperty(fieldName)) {
          if (fields[fieldName] && fields[fieldName].required) {
            field = $regForm.find('[name='+fieldName+']');
            if (!field.val()) {
              valid = false;
              messages.push('Поле ' + (fields[fieldName].caption ? fields[fieldName].caption : fieldName )
                + ' обязательно для заполнения');
            }
          }
        }
      }
      if (valid) {
        $regForm.submit();
        $msgContainer.empty();
      } else if (messages.length) {
        for (var i = 0; i < messages.length; i++) {
          $('<div/>').addClass('error-msg').html(messages[i]).appendTo($msgContainer);
        }
      }
    });
  });
</script>
</html>
