<!DOCTYPE html>
<html>
<head>
  <title>Платформа ION: регистрация</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <meta name="robots" content="noindex,nofollow">
  <base id="baseUrl" href="<%=baseUrl%>">
    <!--[if IE]>
      <script type="text/javascript">
        // Fix for IE ignoring relative base tags.
        (function() {
            var baseTag = document.getElementsByTagName('base')[0];
            baseTag.href = baseTag.href;
        })();
      </script>
    <![endif]-->
  <link rel="shortcut icon" href="favicon.ico">
  <script src="vendor/jquery/jquery.min.js" type="application/javascript"></script>
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/base.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="padding-15">
  <div class="login-box">
    <% if(errors.length) { %>
    <div id="error" class="alert alert-danger">
      <% errors.forEach(function(error){ %>
      <p><%= error %></p>
      <% }); %>
    </div>
    <% } %>
    <form id="reg-form" action="register" method="post" class="sky-form boxed">
      <header><i class="fa fa-users"></i> Регистрация в системе</header>
      <fieldset>
        <section>
          <label class="label">Логин</label>
          <label class="input">
            <i class="icon-append fa fa-user"></i>
            <input id="username" type="login" name="username">
            <span class="tooltip tooltip-top-right">Логин</span>
          </label>
        </section>

        <section>
          <label class="label">Пароль</label>
          <label class="input">
            <i class="icon-append fa fa-lock"></i>
            <input id="password" type="password" name="password">
            <b class="tooltip tooltip-top-right">Пароль</b>
          </label>
        </section>

        <section>
          <label class="label">Повтор пароля</label>
          <label class="input">
            <i class="icon-append fa fa-lock"></i>
            <input id="password2" type="password" name="password2">
            <b class="tooltip tooltip-top-right">Повтор пароля</b>
          </label>
        </section>

        <% Object.keys(fields).forEach(function(fieldName){ %>
        <section>
          <label class="label">
            <%= fields[fieldName].caption ? fields[fieldName].caption : fieldName %>
            <%= fields[fieldName].required ? '*' : '' %>
          </label>
          <label class="input">
        <% if (Array.isArray(fields[fieldName])) { %>
          <select name="<%= fieldName %>">
            <% for (let option of fields[fieldName]){ %>
            <option value="<%= option.value %>"><%= option.key %></option>
            <% } %>
          </select>
        <% } else if (fields[fieldName]){ %>
          <input type="text" name="<%= fieldName %>" class="input" <% if (fields[fieldName].required) { %>required<% } %> />
        <% } %>
          </label>
        </section>
        <% }) %>
      </fieldset>
      <footer>
        <button id="authbutton" type="submit" class="btn btn-primary pull-right">Регистрация</button>
        <div class="forgot-password pull-left">
          <a href="auth"><b>Вход в систему</b></a>
        </div>
      </footer>
    </form>
  </div>
</div>
<%- typeof pageEndContent !== 'undefined' ? pageEndContent : "" %>
</body>
<script>
  jQuery(function(){
    var options = <%- JSON.stringify(options || {})%>;
    var fields = <%- JSON.stringify(fields || {})%>;
    var $msgContainer = $('div#error');
    var $submit = $('button#authbutton');
    var $regForm = $('form#reg-form');
    var $username = $regForm.find('input[name="username"]');
    var $pwd = $regForm.find('input[name="password"]');
    var $pwd2 = $regForm.find('input[name="password2"]');
    $submit.click(function(){
      $msgContainer.empty();
      var username = $username.val();
      var pwd = $pwd.val();
      var pwd2 = $pwd2.val();
      var valid = true;
      var messages = [];
      var field;
      if (!username) {
        messages.push('Поле логина обязательно для заполнения');
      }
      if (pwd && pwd2 && pwd === pwd2) {
        if (options.pwdMinLength) {
           if (pwd.length < options.pwdMinLength) {
             valid = false;
             messages.push('Минимальная длина пароля ' + options.pwdMinLength + ' символов');
           }
        }
      } else {
        valid = false;
        messages.push('Неверный повтор пароля');
      }
      for (fieldName in fields) {
        if (fields.hasOwnProperty(fieldName)) {
          if (fields[fieldName] && fields[fieldName].required) {
            field = $regForm.find('[name='+fieldName+']');
            if (!field.val()) {
              valid = false;
              messages.push('Поле ' + (fields[fieldName].caption ? fields[fieldName].caption : fieldName )
                + ' обязательно для заполнения');
            }
          }
        }
      }
      if (valid) {
        $regForm.submit();
        $msgContainer.empty();
      } else if (messages.length) {
        for (var i = 0; i < messages.length; i++) {
          $('<p/>').html(messages[i]).appendTo($msgContainer);
        }
      }
    });
  });
</script>
</html>