<!DOCTYPE html>
<html>
<head>
  <title><%= pageTitle %>: <%=__('templates.default.register.title')%></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <meta name="robots" content="noindex,nofollow">
  <base id="baseUrl" href="<%=baseUrl%>">
    <!--[if IE]>
      <script type="text/javascript">
        // Fix for IE ignoring relative base tags.
        (function() {
            var baseTag = document.getElementsByTagName('base')[0];
            baseTag.href = baseTag.href;
        })();
      </script>
    <![endif]-->
  <link rel="shortcut icon" href="favicon.ico">
  <script src="node_modules/jquery/dist/jquery.min.js" type="application/javascript"></script>
  <link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/base.css" rel="stylesheet" type="text/css">
</head>

<body>
<style>
  .pwd-error {
    position: absolute;
    background-color: red;
    color: white;
    width: 100%;
    padding: 10px;
    z-index: 1000;
  }
</style>
<div class="padding-15">
  <div class="login-box">
    <% if(errors.length) { %>
    <div id="error" class="alert alert-danger">
      <% errors.forEach(function(error){ %>
      <p><%= error %></p>
      <% }); %>
    </div>
    <% } %>
    <form id="reg-form" action="register" method="post" class="sky-form boxed">
      <header><i class="fa fa-users"></i> <%=__('templates.default.register.title')%></header>
      <fieldset>
        <section>
          <label class="label"><%=__('templates.default.login')%></label>
          <label class="input">
            <i class="icon-append fa fa-user"></i>
            <input id="username" type="login" name="username">
            <span class="tooltip tooltip-top-right"><%=__('templates.default.login')%></span>
          </label>
        </section>

        <section>
          <label class="label"><%=__('templates.default.password')%></label>
          <label class="input">
            <i class="icon-append fa fa-lock"></i>
            <input id="password" type="password" name="password">
            <div class="pwd-error" style="display: none;"></div>
            <b class="tooltip tooltip-top-right"><%=__('templates.default.password')%></b>
          </label>
        </section>

        <section>
          <label class="label"><%=__('templates.default.repeatPwd')%></label>
          <label class="input">
            <i class="icon-append fa fa-lock"></i>
            <input id="password2" type="password" name="password2">
            <div class="pwd-error" style="display: none;"></div>
            <b class="tooltip tooltip-top-right"><%=__('templates.default.repeatPwd')%></b>
          </label>
        </section>

        <% Object.keys(fields).forEach(function(fieldName){ %>
        <section>
          <label class="label">
            <%= fields[fieldName].caption ? fields[fieldName].caption : fieldName %>
            <%= fields[fieldName].required ? '*' : '' %>
          </label>
          <label class="input">
        <% if (Array.isArray(fields[fieldName])) { %>
          <select name="<%= fieldName %>">
            <% for (let option of fields[fieldName]){ %>
            <option value="<%= option.value %>"><%= option.key %></option>
            <% } %>
          </select>
        <% } else if (fields[fieldName]){ %>
          <input type="text" name="<%= fieldName %>" class="input" <% if (fields[fieldName].required) { %>required<% } %> />
        <% } %>
          </label>
        </section>
        <% }) %>
      </fieldset>
      <footer>
        <button id="authbutton" type="submit" class="btn btn-primary pull-right"><%=__('templates.default.register.register')%></button>
        <div class="forgot-password pull-left">
          <a href="auth"><b><%=__('templates.default.enter')%></b></a>
        </div>
      </footer>
    </form>
  </div>
</div>
<%- typeof pageEndContent !== 'undefined' ? pageEndContent : "" %>
</body>
<script>
  var allowSubmit = true;
  jQuery(function(){
    var options = <%- JSON.stringify(options || {})%>;
    var fields = <%- JSON.stringify(fields || {})%>;
    var $msgContainer = $('div#error');
    var $submit = $('button#authbutton');
    var $regForm = $('form#reg-form');
    var $username = $regForm.find('input[name="username"]');
    var $pwd = $regForm.find('input[name="password"]');
    var $pwd2 = $regForm.find('input[name="password2"]');
    $submit.click(function(){
      if (!allowSubmit) {
        return false;
      }
      $msgContainer.empty();
      var username = $username.val();
      var pwd = $pwd.val();
      var pwd2 = $pwd2.val();
      var valid = true;
      var messages = [];
      var field;
      if (!username) {
        messages.push('Login field is required');
      }
      if (pwd && pwd2 && pwd === pwd2) {
        if (options.pwdMinLength) {
           if (pwd.length < options.pwdMinLength) {
             valid = false;
             messages.push('Minimal password length is ' + options.pwdMinLength + ' symbols');
           }
        }
      } else {
        valid = false;
        messages.push('Invalid password repeat');
      }
      for (fieldName in fields) {
        if (fields.hasOwnProperty(fieldName)) {
          if (fields[fieldName] && fields[fieldName].required) {
            field = $regForm.find('[name='+fieldName+']');
            if (!field.val()) {
              valid = false;
              messages.push('Field ' + (fields[fieldName].caption ? fields[fieldName].caption : fieldName )
                + ' is required');
            }
          }
        }
      }
      if (valid) {
        $regForm.submit();
        $msgContainer.empty();
      } else if (messages.length) {
        for (var i = 0; i < messages.length; i++) {
          $('<p/>').html(messages[i]).appendTo($msgContainer);
        }
      }
      return false;
    });

    function checkPwd(fld, data) {
      $.post('checkPwd', data)
        .then(function (data) {
          if (data.error) {
            let offset = fld.offset();
            fld.next().css({left: offset.x, top: offset.y + fld.height()}).html(data.error).show();
          } else {
            fld.next().hide();
          }
          fld.toggleClass('error', !data.result);
          allowSubmit = data.result;
        })
        .fail(function (xhr) {
          fld.toggleClass('error', true);
          allowSubmit = false;
        });
    }

    $('#password').change(function () {
      let fld = $(this);
      let pwd = fld.val();
      checkPwd(fld, {password: pwd, password2: pwd});
    });
    $('#password2').change(function () {
      let fld = $(this);
      let pwd2 = fld.val();
      let pwd = $('#password').val();
      checkPwd(fld, {password: pwd, password2: pwd2});
    });
  });
</script>
</html>
